biopython==1.78
matplotlib==3.8.4
myst-parser==4.0.0
numpy==1.26.4
pandas==2.1.4
rcsbsearchapi==1.6.0
requests==2.32.3
rich==13.3.5
scipy==1.13.0
seaborn==0.12.2
sphinx-autodoc-typehints==2.5.0
sphinx-wagtail-theme==6.4.0
torch==2.2.0
transformers==4.45.2